# Local .terraform directories
**/.terraform/*

# .tfstate files
#*.tfstate
#*.tfstate.*

# Crash log files
crash.log

# Istio installation
istio-opentelemetry/istio-*/**

# Sensitive data should be provided via environment variables. Please use `TF_VAR_` prefix for variables as follows
# export TF_VAR_aws_secret_access_key
# *.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore generated TF plan
*.tfplan
